# Required for GitHub Pages builds inside GitHub Actions
repository: olympus-logic/olympus-logic
url: "https://olympuslogic.com"  # or change to your GitHub Pages URL if needed

baseurl: '/'
permalink: pretty
title: 'Olympus Logic'

logo:
  mobile: "/MiniLogo copy.svg"
  mobile_height: "32px"
  mobile_width: "32px"
  desktop: "/MiniLogo copy.svg"
  desktop_height: "32px"
  desktop_width: "120px"

home: 
  limit_services: 6

collections:
  services:
    output: true
    sort_by: weight
  team:
    output: true

defaults:
  - scope:
      path: ""
      type: "services"
    values:
      layout: "service"
  - scope:
      path: ""
      type: "team"
    values:
      layout: "team"

sass:
  style: compresse
